---
export interface Props {
  name: string;
  role: string;
  description: string;
}

const { name, role, description } = Astro.props;
---

<section class="hero fade-in">
  <h1>{name}</h1>
  <h2>{role}</h2>
  <p>{description}</p>

  <a href="/CV_Adrian_Programado_Jr.docx" class="btn" download>Descargar CV</a>
</section>



<style>

  .fade-in {
    transform: translateY(20px);
    animation: fadeUp 0.8s ease forwards;
  }

  @keyframes fadeUp {
    from{
      transform: translateY(20px);
    }
    to {
      transform: translateY(0);
    }
  }

  .hero {
    max-width: 800px;
    margin: 5rem auto;
    padding: 0 1rem;
    text-align: left;
    border-bottom: 3rem solid var(--card-border);
    padding-bottom: 3rem;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -1px;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--muted-text);
    margin-top: 0.5rem;
  }

  p {
    margin-top: 1.5rem;
    line-height: 1.6;
    color: #444;
  }

  .btn {
    background: var(--primary);
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.6rem 1.2rem;
    border: 1px solid var(--card-border);
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.2s ease;
  }

  .btn:hover {
  background: var(--primary);
  color: white;
  opacity: 0.9;
}
</style>